body{
    Background-color: rgb(178, 208, 243);
    color: rgb(9, 0, 190);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
h1, h2, h3, h4, h5, h6{
    color:rgb(96, 96, 230);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;

}
.main-content{
    margin-left:220px;
    padding:20px;

}
.sidebar {
    background-color:rgb(82, 103, 239);
    width:200px;
    height:100%;
    left:0;
    padding:15px;
    position:fixed;

}

.sidebar ul{
    list-style:none;
    padding: 0;

}
.sidebar ul li{
    margin: 15px 0;
}
.sidebar ul li a{
    color: white;
}

.sidebar ul li a:hover{
    text-decoration: underline;
}

.navbar{
    padding: 10px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    color: white;
}
.navbar a:hover{
    background-color:rgb(118, 154, 233);
    border-radius: 5px;
}
.box-model{
    padding: 15px;
   background-color:rgb(111, 192, 103);
    border: 5px solid rgb(79, 178, 124);
    margin: 20px;
}
